div(v-component="{{question.type}}" v-with="question")

.progress
  .progress-bar(
  role="progressbar",
  aria-valuenow="{{index+1}}",
  aria-valuemin="0",
  aria-valuemax="{{question_count}}",
  style="width: {{(index+1)/question_count*100}}%"
  ) 
    span.sr-only {{index+1}} / {{question_count}} 問

.btn-group.btn-group-justified(role="group")
  .btn-group(role="group")
    button.btn.btn-default(type="button",
    v-attr="disabled: index == 0",
    v-on="click: previousQuestion") 前の問題
  .btn-group(role="group")
    button.btn.btn-default(type="button",
    v-attr="disabled: index+1 == question_count"
    v-on="click: nextQuestion") 次の問題

hr
button.btn.btn-success.btn-block(v-on="click: save") 結果を確認

.modal.fade#myModal(tabindex="-1", role="dialog", 
aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title#myModalLabel {{$root.lesson.title}}の結果
      .modal-body
        .table-responsive
          table.table.table-striped
            thead
              tr
                th No.
                th 問題文
                th あなたの答え
                th 結果
            tbody
              tr(v-repeat="questions")
                td {{$index+1}}
                td {{sentence}}
                td {{choices[model]}}
                td {{model == answer | ja}}
        .alert.alert-warning(role="alert", v-show="!clear") がんばりましょう。
        .alert.alert-success(role="alert", v-show="clear") おめでとうございます！
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal",
        v-show="!clear") 課題に戻る
        button.btn.btn-primary(type="button",
        v-on="click: $root.navigate('/list')") 別の課題に取り組む
